<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand"routerLink = "/"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item ">
        <a class="nav-link" routerLink = "/">Refresh</a>
      </li>
      <li class="nav-item ">
          <a class="nav-link" [routerLink]="['/edit', 'party']" >Party</a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" [routerLink]="['/edit1', 'mla']" >MLA</a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" routerLink="/news">News</a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" [routerLink] = "['/manifest','manifest']">Manifest</a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" [routerLink] = "['/workcategory','workcategory']">Work</a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" [routerLink] = "['/complaints','complaints']">Complaints</a>
      </li>

      <li class="nav-item ">
        <a class="nav-link" [routerLink] = "['/feedback','feedback']">Feedback</a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" [routerLink] = "['/policy','policy']">Policy</a>
      </li>

      <li class="nav-item ">
        <a class="nav-link" [routerLink] = "['/phonenumbers','phonenumbers']">Phone-Numbers</a>
      </li>
      <li class="nav-item ">
        <a class="nav-link"  [routerLink] = "['/edit', 'health_care']">HealthCare</a>
      </li>
      <li class="nav-item ">
        <a class="nav-link"  [routerLink] = "['/videos', 'videos']">Videos-gallery</a>
      </li>
      <li class="nav-item ">
        <a class="nav-link"  [routerLink] = "['/photos', 'photos']">Photos-gallery</a>
      </li>
      <li class="nav-item ">
        <a class="nav-link"  [routerLink] = "['/mandal', 'mandal']">M0</a>
      </li>
      <li class="nav-item ">
        <a class="nav-link"  [routerLink] = "['/mandal1', 'mandal1']">M1</a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" [routerLink] = "['/mandal2', 'mandal2']">M2</a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" [routerLink] = "['/mandal3', 'mandal3']">M3</a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" [routerLink] = "['/mandal4', 'mandal4']">M4</a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" [routerLink] = "['/mandal5', 'mandal5']">M5</a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" [routerLink] = "['/share', 'share']">Share</a>
      </li>
    </ul>

  </div>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>

